@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}


<div class="text-center">
    <h1 class="display-4">Ramenik</h1>
    <p>Zamów swoje ulubione jedzenie i już w parę minut ciesz się niezwykłym smakiem!</p>
</div>
<div id="backgroundImage"></div>
