@page
@model RestaurantSystem.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Tutaj będzie menu</p>
    @*  <div class="card-columns">
            @foreach (var in Model.Dishes)
            {
                <div class="card">
                    <div class="card-img" style="background-image: url('@Model.Image');"></div>
                    <div class="card-body">
                        @Model.dishName
                    </div>
                </div>
            }
        </div>  *@

</div>