@page
@model RestaurantSystem.Pages.OrderModel
@{
    ViewData["Title"] = "Złóż zamówienie";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    @if (Model.restaurantOpen)
    {

        <form method="post">
            <input type="text" asp-for="Customer.Name" placeholder="Imię" input-md" required="" /><br />
            <br />
            <input type="text" asp-for="Customer.Surname" placeholder="Nazwisko" input-md" required="" /><br />
            <br />
            <input type="tel" asp-for="Customer.PhoneNumber" placeholder="Numer telefonu" input-md" required="" /><br />
            <br />
            <input type="email" asp-for="Customer.Email" placeholder="Adres email" input-md" required="" /><br />
            <br />
            <input type="text" asp-for="Customer.Address" placeholder="Adres dostawy" input-md" required="" /><br />
            <br />
            <input type="text" asp-for="MenuPosition.CourseName" placeholder="Nazwa Dania" input-md" required="" /><br />
            <br />
            <input type="text" asp-for="Customer.Comment" placeholder="Uwagi" /><br />
            <br />
            <button type="submit">Złóż zamówienie</button>
        </form>        
    }
</div>

@if (Model.Visible)
{
    <p> <b> Dziękujemy za zainteresowanie naszymi usługami <i> @Model.CustomerName </i></b> !</p>
}