@page
@model RestaurantSystem.Pages.OrderModel
@{
    ViewData["Title"] = "Złóż zamówienie";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <form method="post">
        <input type="text" asp-for="Customer.name" placeholder="Imię" input-md" required="" /><br />
        <br />
        <input type="text" asp-for="Customer.surname" placeholder="Nazwisko" input-md" required="" /><br />
        <br />
        <input type="tel" asp-for="Customer.phoneNumber" placeholder="Numer telefonu" input-md" required="" /><br />
        <br />
        <input type="email" asp-for="Customer.email" placeholder="Adres email" input-md" required="" /><br />
        <br />
        <input type="text" asp-for="Customer.address" placeholder="Adres dostawy" input-md" required="" /><br />
        <br />
        <input type="text" asp-for="MenuPosition.courseName" placeholder="Nazwa Dania" input-md" required="" /><br />
        <br />
        <input type="text" asp-for="Customer.comment" placeholder="Uwagi" /><br />
        <br />
        <button type="submit">Złóż zamówienie</button>
    </form>
</div>

@if (Model.Visible)
{
    <p> <b> Dziękujemy za zainteresowanie naszymi usługami <i> @Model.CustomerName </i></b> !</p>
}