@page
@model RestaurantSystem.Pages.OrderModel
@{
    ViewData["Title"] = "Złóż zamówienie";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    @if (Model.restaurantOpen)
    {

<form method="post">
    <input type="text" id=fname  asp-for="Customer.Name" placeholder="Imię" input-md" required="" /><br />
    <br />
    <input type="text" id=sname asp-for="Customer.Surname" placeholder="Nazwisko" input-md" required="" /><br />
    <br />
    <input type="tel" id="tel" asp-for="Customer.PhoneNumber" placeholder="Numer telefonu" input-md" required="" /><br />
    <br />
    <input type="email" id=email asp-for="Customer.Email" placeholder="Adres email" input-md" required="" /><br />
    <br />
    <input type="text" id=address asp-for="Customer.Address" placeholder="Adres dostawy" input-md" required="" /><br />
    <br />
    <select id="courseName" name="courseName" asp-items="Model.Courses"></select><br />
    <br />
    <input type="text" id=comm asp-for="Customer.Comment" placeholder="Uwagi" /><br />
    <br />
    <button type="submit">Złóż zamówienie</button>
</form>

        
    }
</div>

@if (Model.Visible)
{
    <p> <b> Dziękujemy za zainteresowanie naszymi usługami <i> @Model.CustomerName </i></b> !</p>
}